/* Header Bar */

#HeaderBar {
  background-color: #20232a;
  color: #61dafb;
  padding: 8px;
}

#HeaderBar h1{
  width: fit-content;
  margin: auto;
}

#HeaderBar span{
  color: whitesmoke;
}

/*Buttons*/

.buttonGroup{
  padding: 8px;
  margin: auto;
  width: fit-content;
}

.reddit-buttom{
  background-color: grey;
  border-radius: 5px;
  margin: 0px 2px;
  color: white;
  font-size: 4vw;
  padding: 1vh 6vw;
}

.reddit-buttom:disabled{
  background-color: lightgray;
  color: white;
}

.active{
  background-color: orangered;
}

#load-more{
  padding: 1vh 25vw;
  font-weight: 600;
}

/* Loading Screen */

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoadingScreen h2, .LoadingScreen img{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
}

/* PostPreview */

#postHolder{
  margin: 0px 2vw;
}

.PostLink{
  text-decoration: none;
}

.PostPreview{
  border-top: 2px solid darkgray;
  display: flex;
  align-items: center;
  color: #20232a;
}

.PostPreview:hover{
  background-color: #eeeeee;
}

.PostPreview div{
  display: inline-block;
  box-sizing: border-box;
}

.thumbnail-holder img{
  width: 100%;
  max-width: 100px;
  height: auto;
  vertical-align: middle;
}

.PostPreview h2{
  font-size: 18px;
}

.PostPreview p{
  font-size: 16px;
}

.thumbnail-holder{
  width: fit-content;
  height: 100%;
  vertical-align: middle;
}

.post-info{
  padding: 8px;
}

.createdAt{
  color: #777777;
}

.author{
  color: orange;
}

.domain{
  text-decoration: underline;
}

.thumbnail-holder+.post-info{
  width: 70%;
}

.PostLink:visited h2{
  color: darkslateblue;
}

/* Error Screen */

.ErrorScreen h2, .ErrorScreen img{
  margin: auto;
  display: block;
  width: fit-content;
}